RewriteEngine ON
RewriteOptions inherit

Redirect Permanent /tryg/goyim62_lnciguyot.html https://tora.quest/tm/xmc/goyim62.html
Redirect Permanent /tryg/mamr/gyal.html https://tora.quest/tryg/rgl/gyal.html
Redirect Permanent /tryg/messages/pqm.html https://tora.quest/tryg/ribit0/pqm.html
Redirect Permanent /tryg/mcwa/index.htm https://tora.quest/tryg/mcwa/index.html

Redirect Permanent /tryg/ribit0/private.html http://tora.us.fm/tryg/ribit0/bank1.html

Redirect Permanent /tryg/jmita/index.html https://tora.quest/tryg/sug/erua_zmn_jbyeyt.html

Redirect Permanent /tryg/sug/mwedym.html https://tora.quest/tryg/sug/erua_zmn.html
Redirect Permanent /tryg/sug/psx.html https://tora.quest/tryg/sug/erua_zmn_psx.html
Redirect Permanent /tryg/sug/mch_wxmc.html https://tora.quest/tryg/sug/erua_zmn_psx.html
Redirect Permanent /tryg/sug/jbwewt.html https://tora.quest/tryg/sug/erua_zmn_jbwewt.html
Redirect Permanent /tryg/sug/swkwt.html https://tora.quest/tryg/sug/erua_zmn_swkwt.html
Redirect Permanent /tryg/sug/jbt.html https://tora.quest/tryg/sug/erua_zmn_jbt.html
Redirect Permanent /tryg/sug/3_rglym.html https://tora.quest/tryg/sug/erua_zmn_3_rglym.html
Redirect Permanent /tryg/sug/tbwah_xdjh.html https://tora.quest/tryg/sug/erua_zmn_jnh_ewmr.html
Redirect Permanent /tryg/sug/psx_jny.html https://tora.quest/tryg/sug/erua_zmn_psx_jny.html
Redirect Permanent /tryg/sug/raj_hjnh.html https://tora.quest/tryg/sug/erua_zmn_raj_hjnh.html
Redirect Permanent /tryg/sug/ywm_kypwr.html https://tora.quest/tryg/sug/erua_zmn_ywm_kypwr.html
Redirect Permanent /tryg/sug/jbyeyt.html https://tora.quest/tryg/sug/erua_zmn_jbyeyt.html
Redirect Permanent /tryg/sug/jmyft_qrqewt.html https://tora.quest/tryg/sug/erua_zmn_jbyeyt.html

Redirect Permanent /tryg/sug/ksp.html https://tora.quest/tryg/sug/rcon_esqym.html
Redirect Permanent /tryg/sug/jkyrwt.html https://tora.quest/tryg/sug/rcon_esqym.html
Redirect Permanent /tryg/sug/esqym.html https://tora.quest/tryg/sug/rcon_esqym.html
Redirect Permanent /tryg/sug/hlwah.html https://tora.quest/tryg/sug/rcon_hlwah.html
Redirect Permanent /tryg/sug/mjkwn.html https://tora.quest/tryg/sug/rcon_hlwah.html 
Redirect Permanent /tryg/sug/amt_bmydwt.html https://tora.quest/tryg/sug/ecm_kly_midh.html
Redirect Permanent /tryg/sug/hlwah_lenyym.html https://tora.quest/tryg/sug/cdqh_lenyym.html
Redirect Permanent /tryg/sug/rcon_mtnwt_enyym.html https://tora.quest/tryg/sug/cdqh_lenyym.html
Redirect Permanent /tryg/sug/rcon_mtnwt_mqdj.html https://tora.quest/tryg/sug/cdqh_lenyym.html
Redirect Permanent /tryg/sug/econ_mtnwt_khnym.html https://tora.quest/tryg/sug/cdqh_lenyym.html
Redirect Permanent /tryg/sug/erua_zmn_mtnwt_khnym.html https://tora.quest/tryg/sug/cdqh_lenyym.html
Redirect Permanent /tryg/sug/xwbt_hajh_mbny_nwx.html https://tora.quest/tryg/sug/xwbt_hadm_mbny_nwx.html
Redirect Permanent /tryg/sug/xwbt_hgbr_mbny_nwx.html https://tora.quest/tryg/sug/xwbt_hadm_mbny_nwx.html
Redirect Permanent /tryg/sug/xyym_wmwwt.html https://tora.quest/tryg/sug/rayon_xyym_wmwwt.html
Redirect Permanent /tryg/sug/jmyrt_hxyym.html https://tora.quest/tryg/sug/rayon_xyym_wmwwt.html
Redirect Permanent /tryg/sug/xywt.html https://tora.quest/tryg/sug/ecm_bhmh.html
Redirect Permanent /tryg/sug/bgdy_khwnh.html https://tora.quest/tryg/sug/ecm_bgd.html
Redirect Permanent /tryg/sug/bgdy_hadm.html https://tora.quest/tryg/sug/ecm_bgd.html
Redirect Permanent /tryg/sug/xqlawt.html https://tora.quest/tryg/sug/ecm_xqlawt.html
Redirect Permanent /tryg/sug/adm_gwpw_wxpcyw.html https://tora.quest/tryg/sug/ecm_adm_gwpw_wxpcyw.html
Redirect Permanent /tryg/sug/akylh.html https://tora.quest/tryg/sug/rcon_akylh.html
Redirect Permanent /tryg/sug/twrh.html https://tora.quest/tryg/sug/lymwd_twrh.html
Redirect Permanent /tryg/sug/xljym.html https://tora.quest/tryg/sug/ecm_adm_xljym.html
Redirect Permanent /tryg/sug/yxsy_myn_byn_qrwbym.html https://tora.quest/tryg/sug/rcon_yxsy_myn.html
Redirect Permanent /tryg/sug/fwmat_mt_wfhrtw.html https://tora.quest/tryg/sug/erua_mwt.html
Redirect Permanent /tryg/sug/rcon_bxirt_bt_zwg.html https://tora.quest/tryg/sug/rcon_nyjwayn.html

Redirect Permanent /tryg/sug/xcwcrwt.html https://tora.quest/tryg/sug/ecm_mqdj.html
Redirect Permanent /tryg/sug/ecm_lxm.html https://tora.quest/tryg/sug/rcon_akylh_mzwn.html
Redirect Permanent /tryg/sug/ezrh_lbhmh_bebwdh.html https://tora.quest/tryg/sug/ecm_bhmh.html
Redirect Permanent /tryg/sug/dyny_npjwt.html https://tora.quest/tryg/sug/erua_dyn_npjwt.html
Redirect Permanent /tryg/sug/dyn_cdq_bedym.html https://tora.quest/tryg/sug/erua_mjpfym.html

Redirect Permanent /tryg/sug/akylt_trwmh.html https://tora.quest/tryg/sug/erua_mjpfym.html
Redirect Permanent /tryg/sug/magyh.html https://tora.quest/tryg/sug/erua_mjpfym.html
Redirect Permanent /tryg/sug/xwpj_webdwt.html https://tora.quest/tryg/sug/erua_mjpfym.html
Redirect Permanent /tryg/sug/amt_wjqr.html https://tora.quest/tryg/sug/erua_mjpfym.html
Redirect Permanent /tryg/sug/ewbdy_alylym.html https://tora.quest/tryg/sug/erua_mjpfym.html

Redirect Permanent /tryg/sug/nzqym_lrkwj.html https://tora.quest/tryg/sug/ecm_adm_gwpw_wxpcyw.html
Redirect Permanent /tryg/sug/fhrt_hkhn.html https://tora.quest/tryg/sug/xwbt_hkhn.html
Redirect Permanent /tryg/sug/jwpfym.html https://tora.quest/tryg/sug/ecm_adm_bely_tpqydym.html
Redirect Permanent /tryg/sug/mtnwt_lh_.html https://tora.quest/tryg/sug/rcon_ntynh.html
Redirect Permanent /tryg/sug/akylt_cmxym.html https://tora.quest/tryg/sug/ecm_dgn.html
Redirect Permanent /tryg/sug/nzyr.html https://tora.quest/tryg/sug/rcon_nzyrwt.html
Redirect Permanent /tryg/sug/nyjwayn_em_nkrym.html https://tora.quest/tryg/sug/rcon_nyjwayn.html
Redirect Permanent /tryg/sug/mxjbh.html https://tora.quest/tryg/sug/rcon_mxjbh.html
Redirect Permanent /tryg/sug/spr_twrh.html https://tora.quest/tryg/sug/lymwd_twrh.html
Redirect Permanent /tryg/sug/ndrym.html https://tora.quest/tryg/sug/rcon_dybwr.html
Redirect Permanent /tryg/sug/yxsy_myn.html https://tora.quest/tryg/sug/rcon_yxsy_myn.html
Redirect Permanent /tryg/sug/zbxym_jnfmaw.html https://tora.quest/tryg/sug/rcon_hqrbh.html
Redirect Permanent /tryg/sug/mtym.html https://tora.quest/tryg/sug/erua_mwt.html
Redirect Permanent /tryg/sug/qrqewt.html https://tora.quest/tryg/sug/ecm_xqlawt.html
Redirect Permanent /tryg/sug/ayj_wajh.html https://tora.quest/tryg/sug/ecm_ayjh.html
Redirect Permanent /tryg/sug/alylwt.html https://tora.quest/tryg/sug/ecm_alylym.html
Redirect Permanent /tryg/sug/bryt_mylh.html https://tora.quest/tryg/sug/erua_lydt_yld.html
Redirect Permanent /tryg/sug/fhrt_hayjh.html https://tora.quest/tryg/sug/rcon_yxsy_myn.html
Redirect Permanent /tryg/sug/lwyym.html https://tora.quest/tryg/sug/xwbt_hlwy.html
Redirect Permanent /tryg/sug/nbwah.html https://tora.quest/tryg/sug/ecm_adm_bely_tpqydym.html
Redirect Permanent /tryg/sug/hwrym.html https://tora.quest/tryg/sug/ecm_adm_hwrym.html
Redirect Permanent /tryg/sug/khnym.html https://tora.quest/tryg/sug/xwbt_hkhn.html
Redirect Permanent /tryg/sug/bkwrwt.html https://tora.quest/tryg/sug/erua_lydt_bkwr.html
Redirect Permanent /tryg/sug/emym_axrym.html https://tora.quest/tryg/sug/ecm_adm_emym_axrym.html
Redirect Permanent /tryg/sug/mqdj.html https://tora.quest/tryg/sug/ecm_mqdj.html
Redirect Permanent /tryg/sug/ebd_nkry.html https://tora.quest/tryg/sug/ecm_adm_emym_axrym.html
Redirect Permanent /tryg/sug/gnybh.html https://tora.quest/tryg/sug/rcon_esqym.html
Redirect Permanent /tryg/sug/dybwr.html https://tora.quest/tryg/sug/rcon_dybwr.html
Redirect Permanent /tryg/sug/qrbn_hpsx.html https://tora.quest/tryg/sug/erua_zmn_psx.html
Redirect Permanent /tryg/sug/mxjbt_h_.html https://tora.quest/tryg/sug/ahbt_h_.html
Redirect Permanent /tryg/sug/gwp_hadm.html https://tora.quest/tryg/sug/ecm_gwp_hadm.html
Redirect Permanent /tryg/sug/mnhygym.html https://tora.quest/tryg/sug/ecm_adm_bely_tpqydym.html
Redirect Permanent /tryg/sug/mejr_jny.html https://tora.quest/tryg/sug/ecm_dgn.html
Redirect Permanent /tryg/sug/akylt_zbxym.html https://tora.quest/tryg/sug/rcon_hqrbh.html
Redirect Permanent /tryg/sug/abl_wqbwrh.html https://tora.quest/tryg/sug/erua_mwt.html
Redirect Permanent /tryg/sug/trwmwt.html https://tora.quest/tryg/sug/rcon_ntynh.html
Redirect Permanent /tryg/sug/mxjbt_adm.html https://tora.quest/tryg/sug/rcon_mxjbh.html

Redirect Permanent /tryg/mcwa/061.html https://tora.quest/tryg/mcwa/0612.html
Redirect Permanent /tryg/mcwa/065.html https://tora.quest/tryg/mcwa/0652.html
Redirect Permanent /tryg/mcwa/171.html https://tora.quest/tryg/mcwa/1712.html
Redirect Permanent /tryg/mcwa/264.html https://tora.quest/tryg/mcwa/2642.html
Redirect Permanent /tryg/mcwa/291.html https://tora.quest/tryg/mcwa/2912.html
Redirect Permanent /tryg/mcwa/384.html https://tora.quest/tryg/mcwa/3842.html
Redirect Permanent /tryg/mcwa/389.html https://tora.quest/tryg/mcwa/3892.html
Redirect Permanent /tryg/mcwa/419.html https://tora.quest/tryg/mcwa/4192.html
Redirect Permanent /tryg/mcwa/446.html https://tora.quest/tryg/mcwa/4462.html
Redirect Permanent /tryg/mcwa/521.html https://tora.quest/tryg/mcwa/5211.html
Redirect Permanent /tryg/mcwa/526.html https://tora.quest/tryg/mcwa/5261.html
Redirect Permanent /tryg/mcwa/571.html https://tora.quest/tryg/mcwa/5711.html
Redirect Permanent /tryg/mcwa/590.html https://tora.quest/tryg/mcwa/5901.html
