/mikra_lfi_hamsora.tsv
/mikra_lfi_hamsora_corrected.tsv
/mikra_lfi_hamsora.xls
/mikradovi_corrected.existing.txt
/mikradovi_corrected.existing.debug.txt
/mikradovi_corrected.existing.failed.txt
/0_from_wiki*.txt
/2_to_spreadsheet.tsv
/2_to_spreadsheet.xls
/3_from_spreadsheet.tsv
/4_to_wiki.existing.txt
