@media print {
  /*.page {page-break-inside: avoid; background:white; }*/
  .page {page-break-after: right}   /* For Galya */
  /*.long {page-break-inside: avoid; background:white; }*/
  /*.verse_and_tirgumim {page-break-inside: avoid }*/
}

body { font-family: "Liberation Sans"; }

.page {
  width: 190mm;
  margin:0mm 0mm 0mm 0mm; 
  border: none 2px black; 
  padding: 0 0 0 0;
  overflow:auto; text-align:justify; border-radius: 20px; 
  background:white;
}
.single_height { max-height: 27.7cm; background:white; }
.double_height { max-height: 55.4cm; background:white; }

q.mfrj { /*font-family: "David CLM"; */ font-style:italic; color: #000; }

.verse { background:#ccc; text-align:center; margin-top: 1em; margin-bottom:.3em}
	.verse_text {font-size: 22px; font-weight: normal; letter-spacing: 1px; text-align:center; }
	.verse_text { font-family: "Stam Ashkenaz CLM"; color: #000; }
	.verse_number {font-size: 11px; color: #888; padding-right: 1em; }
.cell  {display: table-row; }
	.tirgum, .tirgum .subtitle {background-color:#cfc; }
	.tirgum .subtitle {/*display:none*/}
	.mcudot, .mcudot .subtitle {background-color:#fdc; }
	.mcudot .subtitle {/*display:none*/}
	.tirgum, .mcudot  {/*width:50%*/ border-left: solid 5px white; border-right: solid 5px white}
.short { display:table-row; border-top: none 1px black; background:white; }
	.mcudot { display:table-cell; padding: 10px 10px 10px 20px; font-family:'David CLM';  font-size: 20px; }
	.tirgum { display:table-cell; padding: 10px 10px 10px 10px; font-family:'Yehuda CLM'; font-size: 19px; }
.long  { display: table; border-top: none 1px black; background:white; }
	.long h3  { font-size: 18px; font-weight: normal; line-height:100%; margin: 9px 0 3px 0;}
	.dquyot { display:table-row; font-family: 'Aharoni CLM';      font-size: 18px; }
	.mqorot { display:table-row; font-family: 'Arial';            font-size: 16px; }
	.hqblot { display:table-row; font-family: 'David CLM'/*'Comix No2 CLM' 'Hadasim CLM'*/; font-size: 16px; }
	.ecot   { display:table-row; font-size: 18px; }
	.subtitle { display:table-cell; width:10mm; border-bottom: none #fff 1px; font-size: 8px; text-align:right; line-height:100%; font-weight:normal; background:#fefefe; font-style:italic}
	.cellcontent { display:table-cell; padding-bottom: 1em}
	.imgsubtitle { display:block; width:20px; height:20px; margin:/*-1.2mm 0mm -2mm 2mm*/0;  }
	.long .cell {
		padding: 2mm;
		background-repeat: no-repeat;
		background-position: top right; 
		background-size: 20px 20px; 
		border-left:none 1px #888; border-right:none 1px #888;
	}
	.long .cell table { border-collapse: collapse; }
	.long .cell table td { border: solid 1px #888; }
	.longcell { min-width:20ex; }
	.longright { /*float:right; width:5cm; */ border-bottom: none 1px #888; margin-left:0.2cm; }
	.longleft  { /*float:left;  width:5cm; */ border-bottom: none 1px #888; margin-right:0.2cm; }
	.longbig  {  }
		.paint {
			font-size: 24px; font-style: italic; text-align:center; background-color:#eee;
			height: auto; border-top: dashed 1px black; padding: 1em; vertical-align:middle;
		}
	.copyright {text-align:center; border-top:dashed 1px #888; font-size:10px; margin-top:6px; }
		.copyright td {vertical-align:middle; padding:6px;}
		.copyright img {  }

.gate {text-align:center;}
.gate .verse .verse_text { font-size: 96px; }
.gate .short, .gate .short .mcudot, .gate .short .tirgum { font-size:34px; }
.gate .long, .gate .long .mqorot , .gate .long .dquyot, .gate .long .hqblot, .gate .long .ecot {font-size:29px;}
.gate .subtitle {font-size:24px; width: 30mm; }
.gate .longcell {min-width:0; }
.gate .copyright {font-size:14px;}
.gate .imgsubtitle { width:40px; height:40px; }
.gate { margin: 5cm 0 5cm 0; }

img.blessing {
  width: 17cm; 
  height: 23cm;
  margin: 1.5cm 0;
}

p {margin:6px 0 0 0; padding:0}
td {vertical-align:top}


ul {margin:0 0 0 0;}
ul li {margin:0 -1em 0 0;}


table { border-collapse:collapse; }


body.tirgum .page {height:auto}
table.tirgum td { border-style:dotted; border-color:#888; border-width: 1px 0; padding:0 6px; }
	table.tirgum .verse_text {font-size: 15px; text-align:right; border-left:1px dashed}
	table.tirgum .verse_number { padding:0; margin:0; letter-spacing:0; font-size:10px; text-align:center; border-right:1px dashed; }
	table.tirgum .tirgum     {font-size: 15px}
	table.tirgum th     {text-align:center;}

/* 19 = 4.8 + 0.2 + 7*2 */
/* 27.6 = 4.8 + 0.2 + 11.6*2 */
body.tirgum .page {width: 190mm; }
body.tirgum td.verse_text {width: 48mm;}
body.tirgum td.verse_number {width: 2mm;}
body.tirgum td.tirgum     {width: 70mm;}



/* make quotations look the same in IE and other browsers */
q:before {content: no-open-quote}
q:after {content: no-close-quote}

a.psuq {text-decoration:none; font-size:9px; }
small {font-size:9px;}

p.future, span.future, .future {	font-size:6px; background-color:#ccc; display:none; }

/* http://stackoverflow.com/questions/11536806/html-columns-whose-width-automatically-changes-according-to-their-content/11734054?iemail=1#11734054 */
.autowidth {visibility:hidden;height:0;} 
.autowidth * {display:inline;}

a {text-decoration:none; color:black}

